<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CryptoHome</title>
</head>
<body>

 <h1>Bitcoins</h1>
    <h3> {{sell_bitcoin_thresh}}
        <br>
        {{bitcoin_price}}
        <br>
        The sentiment is vvv {{sentiment}}. {{sentiment_message | title}}
    </h3>

        {% if sentiment > 0.25 %}
        SELL ALL THE Bitcoins
        {% endif %}
        <h1>threshold is {{sell_bitcoin_thresh}}</h1>
        <h1>The bitcoin price is now {{bitcoin_price}}</h1>
        <h1>The arbitrage signal is: {{ arbitrage_signal }}</h1>
 <h1>Latest gold price is {{ latest_rates }}</h1>
{{ latest_unit }}
 {{ latest_rate }}
 {{ latest_gold_price_rate_ounce_base }}

 <br>



</body>
</html>